<!DOCTYPE html>
    <head>
        <title> {{title}} </title>
        <link rel="stylesheet" href="CSS/style.css">
        {{{customCSS}}}
    </head>
    <body>
        {{{body}}}
    </body>
</html>
